.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
  display: flex;
}

.profile-picture-tooltip {
  width: 41px;
  border-radius: 50px;
}

.channel-picture-container {
  display: flex;
  align-items: center;
  position: relative;
}


.channel-picture-container .tooltip {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  box-shadow: rgb(76, 75, 75) 1px 1px 5px;
}

.channel-picture-container .tooltip {
  font-family: Roboto, arial;
  position: absolute;
  color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.channel-name {
  display: inline-block;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats,
.subscribers-count {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
  cursor: pointer;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.video-time:hover {
  opacity: 0;
}

.video-link,
.channel-link {
  color: inherit;
  text-decoration: none;
}

.video-link,
channel-link {
  color: black;
  /* Set your desired color */
  text-decoration: none;
  /* Remove underline */
}

.video-link:focus,
.video-link:hover,
.channel-link:focus,
.channel-link:hover {
  color: black;
  /* Ensure no color change on hover or focus */
  text-decoration: none;
  /* Ensure no underline on hover or focus */
}